@model FinanceTracker.Models.DashboardViewModel;
@section Styles{
    <link rel="stylesheet" href="~/css/dashboard.css"/>
}

@{
    Layout= "~/Views/Shared/_Layout.cshtml";
}

<meta charset="UTF-8">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<h2>
    Dashboard
</h2>

<div class="row">
    <!--Dashboard-->
    <div class="col-md-4">
        <div class="card text-white bg-success p-3 shadow">
            <h4>Total Income: @Model.TotalIncome</h4>          
        </div>
    </div>

    <div class="col-md-4">
        <div class="card text-white bg-success p-3 shadow">
            <h4>Total Expense: @Model.TotalExpense</h4>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card text-white bg-success p-3 shadow">
            <h4>Balance: @(Model.Balance)</h4>
        </div>
    </div>

    <!--Pie chart-->
    <div class="col-md-6 m-4" style="max-width:460px; max-height:460px; margin:auto;">
        <canvas id="myChart"></canvas>
    </div>

    
    <!--Quick Summary-->
    <div class="col-md-6" style="margin-top:30px;">
        <div class="card summary-card p-4">
            <h2>Quick Summary</h2>
            <div class="summary-item">
                <h4>Highest Expense</h4>
                <h4 class="text-danger"> @Model.HighestExpense</h4>
            </div>
            <div class="summary-item">
                <h4>Top Category</h4>
                <h4 class="text-primary">@Model.TopCategory</h4>
            </div>
            <div class="summary-item">
                <h4>Savings Rate</h4>               
                <h4 class="@(Model.SavingsRate < 30 ? "text-danger" : Model.SavingsRate < 60 ? "text-warning" : "text-success")">@Model.SavingsRate%</h4>

                <!--Progress Bar-->
                <div class="progress mt-2" style="height:14px;">
                    <div class="progress-bar bg-success" role="progressbar" style="width:@Model.SavingsRate%"></div>
                </div>
            </div>          
        </div>
    </div>

    <!--Monthly Bar graph-->
   
    <h3 class="mt-5">Monthly Analytics</h3>
   
    <canvas id="monthlyChart"></canvas>


    <div class="col-md-6 m-4" style="max-width:600px; max-height:600px; margin:auto;">
        <canvas id="wiseChart"></canvas>
    </div>


    <form method="get" asp-controller="Transactions" asp-action="Dashboard">
        <select name="month" class="form-control mt-2 w-25 me-1">
            <option value=""> Select Month </option>
            @for(int m=1; m<=12; m++)
                {
                    if (ViewBag.SelectedMonth == m)
                    {
                    <option value="@m">
                        @System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(m)
                    </option>
                    }
                    else
                    {
                        <option value="@m">
                            @System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(m)
                        </option>
                    }
                }
            </select>

        <select name="year" class="form-control mt-2 w-25">
            <option value=""> Select Year </option>

            @for (int i = DateTime.Now.Year; i >= 2000; i--)
            {
                    if(ViewBag.SelectedYear == i)
                    {
                    <option value="@i" selected>@i</option>
                    }
                    else
                    {
                    <option value="@i">@i</option>
                    }
                    
            }
        </select>
        <button type="submit" class="btn btn-primary mt-2">Show</button>
    </form>
    
    <!--Buttons to switch between pie ad bar
    <button onclick="setChartType('bar')">Bar</button>
    <button onclick="setChartType('pie')">Pie</button>-->


    <div style=" height:400px">
        <canvas id="barChart"></canvas>

    </div>
   
    <div style=" height:400px">
        <canvas id="categoryDateChart"></canvas>

    </div>

</div>

<script>

    let chart;//global chart

    //Prevent chart overwrite issue
    
    const ctxCategory = document.getElementById('barChart');

    /* For Monthwise charts */
    var ctx = document.getElementById('myChart');
    var ctxx = document.getElementById('monthlyChart');
    var ctxxx = document.getElementById('wiseChart');
   

    var myChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels:['Income', 'Expense'],
            datasets: [{
                data: [@Model.TotalIncome, @Model.TotalExpense],
                background:['#198744','#dc3545']
            }]
        }
    });

    var monthlyChart = new Chart(ctxx, {
        type:'bar',
        barPercentage: 0.6,
        data:{
            labels: @Html.Raw(System.Text.Json.JsonSerializer.Serialize(ViewBag.Months)),
            datasets: [
                {
                label: 'Income',
                data: @Html.Raw(System.Text.Json.JsonSerializer.Serialize(ViewBag.IncomeList)),
                backgroundColor: ['#198744'],
                borderColor: '#198744',
                borderWidth: 1
            },
            {
                label: 'Expense',
                data: @Html.Raw(System.Text.Json.JsonSerializer.Serialize(ViewBag.ExpenseList)),
                backgroundColor: ['#dc3545'],
                borderColor: '#dc3545',
                borderWidth: 1
            },
            {
                label: 'Savings',
                data: @Html.Raw(System.Text.Json.JsonSerializer.Serialize(ViewBag.SavingsList)),
                backgroundColor: ['#0d6efd'],
                borderColor: '#0d6efd',
                borderWidth: 1
            }
            ]
        },
        options:{
            responsive: true,
            plugins:{
                legend:{
                    position: 'top'
                }
            }
        }
    });

    var wiseChart = new Chart(ctxxx, {
        type: 'pie',
        data: {
            labels:['Salary','Commission','Stocks','SIP','Business','Wages','Other Income', 'Home Expenses','Shopping',
                    'Food','Travel','Bills','Other Expense'],
            datasets: [{
                data: [@Model.TotalSalary, @Model.TotalCommission, @Model.TotalStocks, @Model.TotalSIP,
                    @Model.TotalBusiness, @Model.TotalWages, @Model.TotalIncomeOthers,@Model.TotalHome, @Model.TotalShopping,
                    @Model.TotalFood, @Model.TotalTravel, @Model.TotalBills, @Model.TotalExpOthers],
                background:['#198744','#dc3545']
            }]
        }
    });

    /*
    function loadChart(month, year){
        fetch(`/Transactions/GetChartData?month=${month}&year=${year}`)
        .then(res => res.json())
        .then(data => {
            const ctxCategory = document.getElementById('categoryDateChart').getContext('2d');

            //destroy old chart
            if(chart){
                chart.destroy();
            }

            chart = new Chart(ctxCategory, {
                type: 'bar',
                data:{
                    labels: data.labels,
                    datasets: data.datasets
                },
                options:{
                    responsive: true,
                    maintainAspectRatio: false
                }
            });
        });
    }

    //OnDropDownCHange
    document.getElementById("monthSelect").addEventListener("change", triggerLoad);
    document.getElementById("yearSelect").addEventListener("change", triggerLoad);

    function triggerLoad(){
        const month =  document.getElementById("monthSelect").value;
        const year =  document.getElementById("yearSelect").value;

        loadChart(month, year);
    }

    //Load Default on page load
    window.onload = function(){
       const month =  document.getElementById("monthSelect").value;
        const year =  document.getElementById("yearSelect").value;

        loadChart(month, year);
    };*/

    var dateLabels = @Html.Raw(Json.Serialize(Model.DateLabels ?? new List<string>()));
    var categoryData = @Html.Raw(Json.Serialize(Model.ChartDataSets ?? new List<object>()));
    if(ctxCategory  && dateLabels.length > 0){
        const barChart = new Chart(ctxCategory, {
            type: 'bar',
            data: {
                labels: dateLabels,
                datasets: categoryData
            },
            options:{
                responsive: true,
                maintainAspectRatio: false
            }
        });
    }
    else{
        console.log("No data for category chart");
    }
    

    
  
</script>




